* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #121212;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    text-align: center; /* Asegura que todo el contenido en el body esté centrado */
}

.header {
    text-align: center;
    margin: 20px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #f5f5f5;
}

p {
    font-size: 1.1em;
    color: #d3d3d3;
    margin-bottom: 20px;
}

.social-links, .navigation, footer {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

.btn, .nav-btn {
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    display: inline-block;
}

/* Colores personalizados para cada red social */
.btn.tiktok {
    background-color: #000000;
    color: #ffffff;  /* Color de TikTok */
}

.btn.instagram {
    background-color: #dc3681;
    color: #ffffff;  /* Color de Instagram */
}

.btn.email {
    background-color: #047a8f;
    color: #ffffff;  /* Color de Email */
}

/* Botones de navegación */
.nav-btn {
    background-color: #333333;
    color: #ffffff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.nav-btn:hover {
    background-color: #555555;
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.7);
}

/* Hover y efecto de escala en los botones */
.btn:hover {
    background-color: #ffffff;
    color: #000000;
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.social-links a:hover, .navigation a:hover {
    transform: scale(1.1);
}

/* Efecto de desplazamiento suave en los botones */
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

.pulse {
    animation: pulse 0.6s ease;
}

footer a {
    text-decoration: none;
    color: #d3d3d3;
}

footer a:hover {
    color: #ffffff;
}

/* Estilo para las frases de inspiración */
.inspiration-quotes {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inspiration-quotes p {
    font-size: 1.3em;
    color: #ffffff;
    margin: 10px 0;
    line-height: 1.5;
    width: 80%;
    max-width: 800px;
}

.inspiration-quotes p:hover {
    color: #ffcc00;  /* Amarillo suave para efecto hover */
    transition: color 0.3s ease;
}
